.connect-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &.v-enter-active,
  &.v-leave-active {
    transition: opacity 1s ease;
  }

  &.v-enter-from,
  &.v-leave-to {
    opacity: 0;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    z-index: 10;
  }

  &__content {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 29px;
    width: 100%;
  }

  &__logo {
    width: 32px;
    height: 32px;
    background-image: url("/logo.svg");
    background-size: cover;
  }

  &__setting-btn {
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    background: url("../../assets/icons/settings.svg") no-repeat center;
    font-size: 0;
    cursor: pointer;
  }

  &__profile-btn {
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    background: url("../../assets/icons/user.svg") no-repeat center;
    font-size: 0;
    cursor: pointer;
  }

  &__main-btn {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    width: 174px;
    height: 174px;
    background: rgba(16, 31, 45, 0.9);
    border: 8px solid #c4d9f0;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      inset: 0;
      margin: auto;
      width: 54px;
      height: 54px;
      background: url("../../assets/icons/power.svg");
    }

    &.disconnect {
      &:before {
        width: 42px;
        height: 42px;
        border-radius: 8px;
        background: #c4d9f0;
      }
    }
  }

  &__time-box {
    height: 58px;
  }

  &__time {
    color: #E2E2E6;
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 2px;
  }

  &__status {
    color: #C2C7CF;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__selected {
    position: absolute;
    width: calc(100% - 20px);
    left: 0;
    right: 0;
    bottom: 60px;
    margin: auto;

    &.v-enter-active,
    &.v-leave-active {
      transition: bottom 0.5s ease;
    }

    &.v-enter-from,
    &.v-leave-to {
      bottom: -100px;
    }
  }
}

