.choice-location {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #273c51;
  padding: 52px 0 0;
  z-index: 10;

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 18px 15px;
  }

  &__close {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background: url("../../assets/icons/arrow-back.svg") no-repeat center;
    border: none;
    font-size: 0;
    cursor: pointer;
  }

  &__title {
    width: 100%;
    color: #E2E2E6;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.15px;
    font-weight: 500;
  }

  &__search-btn {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background: url("../../assets/icons/search.svg") no-repeat center;
    border: none;
    font-size: 0;
    cursor: pointer;
  }

  &__search {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 65px;
    width: 100%;
    height: 28px;
    background: #273c51;
  }

  &__input {
    border: none;
    background: none;
    width: calc(100% - 130px);
    height: 28px;
    color: #E2E2E6;
    font-size: 22px;
    font-weight: 500;
    outline: none;
    caret-color: #96CBFF;

    &::placeholder {
      color: #E2E2E6;
    }
  }

  &__search-close {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background: url("../../assets/icons/close.svg");
    border: none;
    outline: none;
    font-size: 0;
  }

  &__content {
    padding: 24px 15px 0 15px;
    background: #101f2d;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}