.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 412px;
  height: 892px;
  margin: 5vh auto;
  border-radius: 28px;
  border: 8px solid #889aae;
  background-color: #101F2D;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.14px;
  transition: background-image 1s linear;
  overflow: hidden;

  &.disconnect {
    background-image: url("../../assets/bg/default.svg");
  }

  &.connect {
    background-image: url("../../assets/bg/connect.svg");
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 0 15px;
    margin-top: 10px;
    z-index: 100;
  }

  &__content {
    flex: 1;
    border-radius: 10px;
    overflow: auto;
    padding: 0 15px;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__bottom {
    position: relative;
    height: 28px;
    padding: 0 15px;

    &:before {
      content: '';
      position: absolute;
      inset: 0;
      margin: auto;
      width: 72px;
      height: 2px;
      background: #fff;
      border-radius: 8px;
    }
  }

  &__status {
    display: flex;
    gap: 5px;
  }

  &__wifi {
    width: 17px;
    height: 17px;
    background: url("../../assets/icons/wifi.svg") no-repeat;
  }

  &__signal {
    width: 17px;
    height: 17px;
    background: url("../../assets/icons/signal.svg") no-repeat;
  }

  &__battery {
    width: 17px;
    height: 15px;
    background: url("../../assets/icons/battery.svg") no-repeat center;
  }

  &__get-premium {
    &.v-enter-active,
    &.v-leave-active {
      transition: opacity 0.5s ease;
    }

    &.v-enter-from,
    &.v-leave-to {
      opacity: 0;
    }
  }
}