@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

body {

  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  min-width: 350px;
  min-height: 892px;
  overflow-x: hidden;
  background-color: #101F2D;
}

html, * {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

